<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin_layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Product Deal</title>
</head>
<body>

<!-- Content Header (Page header) -->
<div class="content-header" layout:fragment="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Product Deal</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/admin/deals}">Deals</a></li>
                    <li class="breadcrumb-item active">[[${prodCategoryDto.getId() == null ? 'Create' : 'Edit'}]] Product Category</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<!-- Main content -->
<section class="content" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">[[${prodCategoryDto.getId() == null ? 'Create' : 'Edit'}]] Product Category</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="createProdCatForm" th:object="${prodCategoryDto}" method="post" th:action="@{${prodCategoryDto.getId() == null ? '/admin/prodCategories/add' : '/admin/prodCategories/update'}}">
                        <input type="hidden" name="id" class="form-control" id="prodCatId" th:field="*{id}">

                        <div class="card-body">
                            <div class="form-group">
                                <label for="prodCatName">Category Name</label>
                                <input type="text" name="name" class="form-control" id="prodCatName" placeholder="Enter Name" th:field="*{name}">
                                <small id="prodCatName-error" class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">[[${prodCategoryDto.getId() == null ? 'Create' : 'Update'}]]</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->

        <!-- /.row -->
    </div><!-- /.container-fluid -->


</section>
<!-- /.content -->

</body>
</html>