<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin_layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Dashboard</title>
</head>
<body>

<!-- Content Header (Page header) -->
<div class="content-header" layout:fragment="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<!-- Main content -->
<section class="content" layout:fragment="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Users</h3>

            <div class="card-tools">
                <a class="btn btn-success btn-sm" th:href="@{/admin/users/add}">
                    <i class="fas fa-folder">
                    </i>
                    Add
                </a>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                <tr>
                    <th >
                        #
                    </th>
                    <th >
                        First Name
                    </th>
                    <th >
                        Last Name
                    </th>
                    <th>
                        Roles
                    </th>
                    <th >
                        Enabled
                    </th>
                    <th >
                        actions
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, userCount : ${users}">
                    <td>[[${__${userCount.index}__ + 1}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>
                        [[${user.lastName}]]
                    </td>
                    <td>
                        <span th:each="role : ${user.getRoles()}" th:text="${role.name} + ', '"></span>
                    </td>
                    <td>
                        [[${user.isEnabled}]]
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" th:href="@{/admin/users/edit/{userId} (userId=${user.id})}">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a>
                        <a class="btn btn-danger btn-sm" th:href="@{/admin/users/delete/{userId} (userId=${user.id})}">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>

            <div class="row mt-5">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing [[
                        ${pageSize} * ${currentPage} ]] to [[ ${pageSize} * ${currentPage} + ${pageSize} - 1 ]] of
                        [[${totalItems}]] entries
                    </div>
                </div>
                <div class="col-sm-12 col-md-7" th:if="${totalPages > 1}">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="example2_previous"><a href="#"
                                                                                                              aria-controls="example2"
                                                                                                              data-dt-idx="0"
                                                                                                              tabindex="0"
                                                                                                              class="page-link">Previous</a>
                            </li>
                            <li class="paginate_button page-item active"><a href="#" aria-controls="example2"
                                                                            data-dt-idx="1" tabindex="0"
                                                                            class="page-link">1</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="2"
                                                                      tabindex="0" class="page-link">2</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="3"
                                                                      tabindex="0" class="page-link">3</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="4"
                                                                      tabindex="0" class="page-link">4</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="5"
                                                                      tabindex="0" class="page-link">5</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="6"
                                                                      tabindex="0" class="page-link">6</a></li>
                            <li class="paginate_button page-item next" id="example2_next"><a href="#"
                                                                                             aria-controls="example2"
                                                                                             data-dt-idx="7"
                                                                                             tabindex="0"
                                                                                             class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->


    <!-- /.content -->
</section>

</body>
</html>