<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!--Footer-->
<footer th:fragment="footer" id="footer"
>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2022 SHOPPING-SUITE Inc. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer><!--/Footer-->

<!--Admin footer-->
<footer class="main-footer" th:fragment="admin-footer" xmlns:th="http://www.thymeleaf.org">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2022 Shopping Suite</a></strong> All rights reserved.
</footer>

</body>
</html>