<!--<header th:fragment="header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--  &lt;!&ndash; Navigation &ndash;&gt;-->
<!--  &lt;!&ndash;    nav bar is only shown to authenticated users&ndash;&gt;-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light" sec:authorize="isAuthenticated()">-->
<!--    <div class="container-fluid">-->
<!--      <a class="navbar-brand" th:href="@{/}">Shopping Suite</a>-->
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--            <a class="nav-link" th:href="@{/admin/dashboard}">Categories</a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="name">-->
<!--              Dropdown-->
<!--            </a>-->
<!--            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--              <li><a class="dropdown-item" th:href="@{/user/orders}">Orders</a></li>-->
<!--              <li><a class="dropdown-item" th:href="@{/user/cart}">Cart</a></li>-->
<!--              <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->

<!--</header>-->





<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>

<!--Customer Header-->
<header id="header" th:fragment="header">

  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-md-4 clearfix">
          <div class="logo pull-left">
            <a th:href="@{/}"><img th:src="@{images/home/logo.png}" alt="" /></a>
          </div>
        </div>
        <div class="col-md-8 clearfix">
          <div class="shop-menu clearfix pull-right">
            <ul class="nav navbar-nav">
              <li><a th:href="@{/account}"><i class="fa fa-user"></i> Account</a></li>

              <li><a th:href="@{checkout}"><i class="fa fa-crosshairs"></i> Checkout</a></li>
              <li><a th:href="@{cart}"><i class="fa fa-shopping-cart"></i> Cart</a></li>
              <li><a th:href="@{login}"><i class="fa fa-lock"></i> Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->

  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a th:href="@{/}" class="active">Home</a></li>
              <li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a th:href="@{/products}">Products</a></li>

                  <li><a th:href="@{/deals}">Deals</a></li>

                </ul>
              </li>


            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="search_box pull-right">
            <input type="text" placeholder="Search"/>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->
</header><!--/header-->

<!-- Navbar -->
<!--Admin header-->
<nav class="main-header navbar navbar-expand navbar-dark" th:fragment="admin-header">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="index3.html" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link">Contact</a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Navbar Search -->
    <li class="nav-item">
      <a class="nav-link" data-widget="navbar-search" href="#" role="button">
        <i class="fas fa-search"></i>
      </a>
      <div class="navbar-search-block">
        <form class="form-inline">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
              <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
        <i class="fas fa-th-large"></i>
      </a>
    </li>
  </ul>
</nav>
<!-- /.navbar -->

</body>
</html>