<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Cart</title>
</head>
<body>

<th:block class="container" layout:fragment="content">
  <section id="cart_items">
    <div class="container">
      <div class="breadcrumbs">
        <ol class="breadcrumb">
          <li><a th:href="@{/}">Home</a></li>
          <li class="active">Shopping Cart</li>
        </ol>
      </div>
      <p class="text-danger" th:if="${errorMessage != null}">[[${errorMessage}]]</p>
      <div class="table-responsive cart_info">
        <table class="table table-condensed">
          <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description">Name</td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          <tr th:each="cartProduct : ${cart.getCartProducts()}">
            <td class="cart_product">
              <a th:href="@{/product/{productId} (productId=${cartProduct.product.id})}"><img th:src="@{${cartProduct.product.imageUrl}}" alt="" style="max-width: 50px"></a>
            </td>
            <td class="cart_description">
              <h4><a th:href="@{/product/{productId} (productId=${cartProduct.product.id})}">[[${cartProduct.product.name}]]</a></h4>
            </td>
            <td class="cart_price">
              <p>$[[${cartProduct.price}]]</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" href=""> + </a>
                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                <a class="cart_quantity_down" href=""> - </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">$<span>[[${cartProduct.price * cartProduct.quantity}]]</span></p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
            </td>
          </tr>


          </tbody>
        </table>
      </div>
    </div>
  </section> <!--/#cart_items-->

  <section id="do_action" sec:authorize="isAuthenticated()" th:if="${cart.getCartProducts().size() > 0}">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="total_area">
            <ul>
              <li>Cart Sub Total <span>$[[${total}]]</span></li>
              <li>Total <span>$[[${total}]]</span></li>
            </ul>
            <a class="btn btn-default check_out" th:href="@{/orders/make}">Place Order</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</th:block>

</body>
</html>