<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Cart</title>
</head>
<body>

<th:block class="container" layout:fragment="content">
  <section id="cart_items">
    <div class="container">
      <div class="breadcrumbs">
        <ol class="breadcrumb">
          <li><a th:href="@{/}">Home</a></li>
          <li class="active">Shopping Cart</li>
        </ol>
      </div>
      <p class="text-danger" th:if="${errorMessage != null}">[[${errorMessage}]]</p>
      <div class="table-responsive cart_info">
        <table class="table table-condensed">
          <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description">Name</td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          <tr th:each="cartProduct : ${cart.getCartProducts()}" th:attr="data-row_item_id=${cartProduct.product.id}">
            <td class="cart_product">
              <a th:href="@{/product/{productId} (productId=${cartProduct.product.id})}"><img th:src="@{${cartProduct.product.imageUrl}}" alt="" style="max-width: 50px"></a>
            </td>
            <td class="cart_description">
              <h4><a th:href="@{/product/{productId} (productId=${cartProduct.product.id})}">[[${cartProduct.product.name}]]</a></h4>
            </td>
            <td class="cart_price">
              <p>$[[${cartProduct.price}]]</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
<!--                <a class="cart_quantity_up" href=""> + </a>-->
                <input class="cart_quantity_input" type="number" name="quantity" min="1" th:value="${cartProduct.quantity}" autocomplete="off" size="2" th:attr="data-item_id=${cartProduct.product.id}">
<!--                <a class="cart_quantity_down" href=""> - </a>-->
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">$<span>[[${cartProduct.price * cartProduct.quantity}]]</span></p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" href="#"><i class="fa fa-times" th:attr="data-item_id=${cartProduct.product.id}"></i></a>
            </td>
          </tr>


          </tbody>
        </table>
        <a class="btn btn-danger" id="clear-cart-btn" href="#">Clear Cart</a>
      </div>
    </div>
  </section> <!--/#cart_items-->

  <section id="do_action" sec:authorize="isAuthenticated()" th:if="${cart.getCartProducts().size() > 0}">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="total_area">
            <ul>
              <li>Cart Sub Total <span>$[[${total}]]</span></li>
              <li>Total <span>$[[${total}]]</span></li>
            </ul>
            <a class="btn btn-default check_out" th:href="@{/orders/make}">Place Order</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</th:block>

<th:block layout:fragment="javascript">
  <script type="text/javascript">
    //remove product from cart
    $(".fa-times").click(e => {
      e.preventDefault();

      let productId = $(e.target).data('item_id');
      console.log("product Id: " + productId);


      $.ajax({
        method: 'post',
        url: "/api/remove-product-from-cart",
        dataType: "application/json",
        data: JSON.stringify({
          "productId": productId,
          "quantity": 1
        }),
        contentType: "application/json",
        success: function (data, textStatus, xhr) {
          if (xhr.status == 403) {
            alert("please sign in to make a review");
          } else if (xhr.status == 200) {
            alert("Product removed from cart");
            location.reload();
          } else {
            alert("Bad thing happened! " + xhr.statusText);
          }
          console.log(data)
        },
        error: function (xhr, textStatus) {
          console.log("status code: " + xhr.status);
          console.log("res: " + textStatus);
          if (xhr.status == 200) {
            alert("Product removed from cart");
            location.reload();
          } else {
            alert("Bad thing happened! " + xhr.statusText);
          }
        }
      });
    });

    //update cart product quantity
    $(".cart_quantity_input").change(e => {
      e.preventDefault();

      let productId = $(e.target).data('item_id');
      let quantity = $(e.target).val();

      $.ajax({
        method: 'post',
        url: "/api/update-cart-product-quantity",
        dataType: "application/json",
        data: JSON.stringify({
          "productId": productId,
          "quantity": quantity
        }),
        contentType: "application/json",
        success: function (data, textStatus, xhr) {
          if (xhr.status == 403) {
            alert("please sign in to make a review");
          } else if (xhr.status == 200) {
            alert("Cart product quantity updated!");
            location.reload();
          } else {
            alert("Bad thing happened! " + xhr.statusText);
          }
          console.log(data)
        },
        error: function (xhr, textStatus) {
          console.log("status code: " + xhr.status);
          console.log("res: " + textStatus);
          if (xhr.status == 200) {
            alert("Cart product quantity updated!");
            location.reload();
          } else {
            alert("Bad thing happened! " + xhr.statusText);
          }
        }
      });
    });

    //update cart product quantity
    $("#clear-cart-btn").click(e => {
      e.preventDefault();

      $.ajax({
        method: 'post',
        url: "/api/clear-cart",
        dataType: "application/json",
        data: {},
        contentType: "application/json",
        success: function (data, textStatus, xhr) {
          if (xhr.status == 403) {
            alert("please sign in to make a review");
          } else if (xhr.status == 200) {
            alert("Cart cleared successfully!");
            location.reload();
          } else {
            alert("Bad thing happened! " + xhr.statusText);
          }
          console.log(data)
        },
        error: function (xhr, textStatus) {
          console.log("status code: " + xhr.status);
          console.log("res: " + textStatus);
          if (xhr.status == 200) {
            alert("Cart cleared successfully!");
            location.reload();
          } else {
            alert("Bad thing happened! " + xhr.statusText);
          }
        }
      });
    });
  </script>
</th:block>

</body>
</html>