<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login</title>
</head>
<body>

<div class="container mb-20" layout:fragment="content">

    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form"><!--login form-->
                <form action="#">
                    <a th:href="@{/oauth2/authorize/google}" class="btn btn-danger btn-default text-uppercase"><i class="fa fa-google mr-2"></i>Login Or Sign Up With Google</a>
                </form>
            </div><!--/login form-->
        </div>
    </div>

</div>

</body>
</html>