<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
</head>
<body>

<th:block class="container" layout:fragment="content">


    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->

                            <div class="panel panel-default" th:each="prodCat : ${productCategories}">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a th:href="@{/products/{prodCatId} (prodCatId=${prodCat.id})}" >[[${prodCat.name}]]</a></h4>
                                </div>
                            </div>

                        </div><!--/category-products-->

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img th:src="@{${product.imageUrl}}" alt="" />
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->
                                <h2>[[${product.name}]]</h2>
                                <span>
									<span>US $[[${product.price}]]</span>
									<label>Quantity:</label>
									<input type="text" value="1" />
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
                                <p><b>Availability:</b> In Stock</p>
                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->

                    <div class="category-tab shop-details-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">

                            <div class="tab-pane fade active in" id="reviews" >
                                <div class="col-sm-12">
                                    <div class="reviews">
                                        <div class="card" th:each="review : ${product.reviews}">
                                            <ul>
                                                <li><a href=""><i class="fa fa-user"></i>[[${review.user.firstName}]]</a></li>
                                                <li><a href=""><i class="fa fa-clock-o"></i>[[${review.user.dateReviewed}]]</a></li>
                                            </ul>
                                            <p>[[${review.user.detail}]]</p>
                                        </div>
                                    </div>
                                    <p><b>Write Your Review</b></p>

                                    <form action="#" id="review-form">
                                        <input type="hidden" id="product-id" th:value="${product.id}">
                                        <textarea required name="" placeholder="Write your review"></textarea>
                                        <button type="submit" class="btn btn-default pull-right">
                                            Submit
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div><!--/category-tab-->


                </div>
            </div>
        </div>
    </section>
</th:block>

<th:block layout:fragment="javascript">
    <script type="text/javascript">
        $("#review-form").submit(e => {
            e.preventDefault();
            alert("making review: ");
        })
    </script>
</th:block>
</body>
</html>